.question {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f3;
  box-shadow: 0 1.3px 2.2px rgba(0, 0, 0, 0.034),
    0 3.2px 5.3px rgba(0, 0, 0, 0.045), 0 6px 10px rgba(0, 0, 0, 0.051),
    0 10.7px 17.9px rgba(0, 0, 0, 0.055), 0 20.1px 33.4px rgba(0, 0, 0, 0.057),
    0 48px 80px rgba(0, 0, 0, 0.06);

  border-radius: 0.375rem;
  margin: 10px;
  padding: calc(1.5em - 0.0625rem) calc(2em - 0.0625rem);
}

.question:hover {
  margin-bottom: 5px;
  border: 1px solid rgb(128, 182, 75);
  font-weight: bold;
  color: blue;
}
