.conteiner {
  height: 100%;
  box-sizing: content-box;
  width: 60%;
  padding-top: 100px;
}

@media (max-width: 690px) {
  .conteiner {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .conteiner {
    width: 100%;
  }
}
