.message {
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 99, 248, 0.432);
  box-sizing: content-box;
  width: 94%;
  margin-top: 5px;
  /* margin-left: 15px; */
  border-radius: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-content: flex-start;
}

#i {
  color: aliceblue;
}

@media (max-width: 690px) {
  .message {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .message {
    width: 100%;
  }
}
