.maxWidth {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 5px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}
.navbar.sticky {
  padding: 4px 0;
  background: #a0a0a0c5;
}
.navbar .maxWidth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: 64px;
  height: 64px;
  background-image: url("./icon.png");
}
.logoMargin {
  padding-top: 10px;
  padding-left: 5px;
}
.navbar .logo a {
  font-size: 30px;
  font-weight: 450;
  padding-left: 65px;
}
.navbar .logo a {
  color: rgb(51, 51, 51);
  transition: all 0.3s ease;
}
.navbar.sticky .logo a {
  color: rgb(0, 0, 0);
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.menu {
  margin-top: 15px;
}
.navbar .menu li a {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #0011ff;
  margin-top: 2px;
  text-decoration: rgba(255, 255, 255, 0);
  border-bottom: 2px solid blue;
}
.navbar.sticky .menu li a:hover {
  color: rgb(0, 0, 0);
}

/* menu btn styling */
.menuBtn {
  color: rgb(0, 0, 0);
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #790683;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: rgb(0, 0, 0);
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* responsive media query start */
@media (max-width: 1300px) {
  .maxWidth {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
}

@media (max-width: 991px) {
  .maxWidth {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menuBtn {
    display: block;
    z-index: 999;
  }
  .menuBtn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: rgb(63, 63, 63);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    color: rgb(180, 180, 180);
  }

  .maxWidth {
    max-width: 930px;
  }
}

@media (max-width: 690px) {
  .maxWidth {
    padding: 0 15px;
  }
}

@media (max-width: 500px) {
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
